* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Abel Regular';
  line-height: 1.3;
  font-size: $fontG1-Small;
  background-color: $color-white;
}
a,
a:link,
a:visited {
  text-decoration: none;
}