// Colors ///////////
$color-white: #fff; // Pure white
$color-black: #000; // Pure black
// Gray
$color-gray900: #1A202C;
$color-gray800: #2D3748;
$color-gray700: #4A5568;
$color-gray600: #718096;
$color-gray500: #A0AEC0;
$color-gray400: #CBD5E0;
$color-gray300: #E2E8F0;
$color-gray200: #EDF2F7;
$color-gray100: #F7FAFC;
// Red
$color-red900: #742A2A;
$color-red800: #9B2C2C;
$color-red700: #C53030;
$color-red600: #E53E3E;
$color-red500: #F56565;
$color-red400: #FC8181;
$color-red300: #FEB2B2;
$color-red200: #FED7D7;
$color-red100: #FFF5F5;
// Orange
$color-orange900: #7B341E;
$color-orange800: #9C4221;
$color-orange700: #C05621;
$color-orange600: #DD6B20;
$color-orange500: #ED8936;
$color-orange400: #F6AD55;
$color-orange300: #FBD38D;
$color-orange200: #FEEBC8;
$color-orange100: #FFFAF0;
// Yellow
$color-yellow900: #744210;
$color-yellow800: #975A16;
$color-yellow700: #B7791F;
$color-yellow600: #D69E2E;
$color-yellow500: #ECC94B;
$color-yellow400: #F6E05E;
$color-yellow300: #FAF089;
$color-yellow200: #FEFCBF;
$color-yellow100: #FFFFF0;
// Green
$color-green900: #22543D;
$color-green800: #276749;
$color-green700: #2F855A;
$color-green600: #38A169;
$color-green500: #48BB78;
$color-green400: #68D391;
$color-green300: #9AE6B4;
$color-green200: #C6F6D5;
$color-green100: #F0FFF4;
// Teal
$color-teal900: #234E52;
$color-teal800: #285E61;
$color-teal700: #2C7A7B;
$color-teal600: #319795;
$color-teal500: #38B2AC;
$color-teal400: #4FD1C5;
$color-teal300: #81E6D9;
$color-teal200: #B2F5EA;
$color-teal100: #E6FFFA;
// Blue
$color-blue900: #2A4365;
$color-blue800: #2C5282;
$color-blue700: #2B6CB0;
$color-blue600: #3182CE;
$color-blue500: #4299E1;
$color-blue400: #63B3ED;
$color-blue300: #90CDF4;
$color-blue200: #BEE3F8;
$color-blue100: #EBF8FF;
// Indigo
$color-indigo900: #3C366B;
$color-indigo800: #434190;
$color-indigo700: #4C51BF;
$color-indigo600: #5A67D8;
$color-indigo500: #667EEA;
$color-indigo400: #7F9CF5;
$color-indigo300: #A3BFFA;
$color-indigo200: #C3DAFE;
$color-indigo100: #EBF4FF;
// Purple
$color-purple900: #44337A;
$color-purple800: #553C9A;
$color-purple700: #6B46C1;
$color-purple600: #805AD5;
$color-purple500: #9F7AEA;
$color-purple400: #B794F4;
$color-purple300: #D6BCFA;
$color-purple200: #E9D8FD;
$color-purple100: #FAF5FF;
// Pink
$color-pink900: #702459;
$color-pink800: #97266D;
$color-pink700: #B83280;
$color-pink600: #D53F8C;
$color-pink500: #ED64A6;
$color-pink400: #F687B3;
$color-pink300: #FBB6CE;
$color-pink200: #FED7E2;
$color-pink100: #FFF5F7;
// Colors end ///////////